 .u-section-1 {
  background: linear-gradient(to right, rgb(213, 243, 245) 85%, rgb(241, 241, 241) 0%);
}

.u-section-1 .u-sheet-1 {
  min-height: 532px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 409px;
  margin: 39px 0 0 auto;
}

.u-section-1 .u-text-1 {
  margin: -389px 621px 0 60px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 61px 621px 60px 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 460px;
  }

  .u-section-1 .u-image-1 {
    width: 470px;
    height: 337px;
    margin-top: 108px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -241px;
    margin-right: 149px;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 481px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 381px;
  }

  .u-section-1 .u-image-1 {
    width: 360px;
    height: 258px;
    margin-top: 202px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -238px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 261px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 317px;
  }

  .u-section-1 .u-image-1 {
    width: 270px;
    height: 194px;
    margin-top: 176px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -212px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 81px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 245px;
  }

  .u-section-1 .u-image-1 {
    width: 170px;
    height: 122px;
    margin-top: 142px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -152px;
    margin-right: 94px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}