 .u-section-1 {
  background: linear-gradient(to right, rgb(213, 243, 245) 85%, rgb(241, 241, 241) 0%);
}

.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-image-1 {
  width: 480px;
  height: 480px;
  margin: 20px auto 0 0;
}

.u-section-1 .u-text-1 {
  margin: -446px 55px 0 520px;
}

.u-section-1 .u-text-2 {
  font-size: 1.125rem;
  margin: 54px 220px 0 auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-image-1 {
    margin-top: 73px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -498px;
    margin-right: 149px;
    margin-left: 375px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 155px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 340px;
    margin-top: 41px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -326px;
    margin-right: 94px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 104px;
  }
}