 .u-section-1 {
  background: linear-gradient(to right, rgb(213, 243, 245) 85%, rgb(241, 241, 241) 0%);
}

.u-section-1 .u-sheet-1 {
  min-height: 520px;
}

.u-section-1 .u-text-1 {
  margin: 52px 575px 0 0;
}

.u-section-1 .u-image-1 {
  width: 234px;
  height: 356px;
  margin: -13px 48px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 240px;
  height: 356px;
  margin: -355px 330px 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: -262px 643px 60px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-right: 375px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 443px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 155px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 223px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    margin-right: 300px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 43px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-2 {
    margin-right: 100px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
}